
  @font-face {
    font-family: droidsans;
    src: url('fonts/droidsans-webfont.eot'),
         url('fonts/droidsans-webfont.woff'),
		 url('fonts/droidsans-webfont.woff2'),
         url('fonts/droidsans-webfont.ttf'),
         url('fonts/droidsans-webfont.svg');
  }
  
html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  body {
	font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
	overflow-x: hidden;
  }

  .main-wrapper {
    max-width: 1200px;
	margin: 0 auto;
  }
  
  .logo 
    {
	height: 45px;
	width: 260px !important;
	background-image: url('../logos/logo.png') !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
  }
  
  .logo:hover
    {
	background-color: #000 !important;
  }
  
  #pt_sf_medium { /* filters */
    max-width: 1200px;
	margin: 0 auto;
  }
  
   /*.pt_sf .medium-2 {  
    width: 20%;
  }*/
  .pt_sf_submit {
    margin-top: 1px;
	padding: 10px 14px !important;
  }
  .pt_me { /* menu */

  }
  .pt_me p {
    font-size: 12px;
    margin-bottom: 12px;
  }


  .pt_se { /* searchform */

  }


  .pt_fp { /* featured */

  }
  .pt_fp_each {
    text-align:center;
    font-size: 12px;
    line-height:1.8em;
  }
  .pt_fp_name {

  }
  .pt_fp_image {
    border: 0;
    height:100px;
    max-width:none;
  }
  .pt_fp_interaction {
    font-size: 10px;
  }
  .pt_fp_from {
    font-style: italic;
  }
  .pt_fp_price {
    font-weight: bold;
  }
  .pt_fp h2 {
    border-top: 1px solid #ccc;
    padding-top: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #999;
  }



  .pt_co { /* coupons */

  }
  .pt_co img {
    margin: 0;
    padding: 0;
  }
  .pt_co p {
    font-size: 13px;
    margin: 0;
    padding: 0.5em 0;
  }
  .pt_co a {
    margin: 0;
    padding: 0;
  }
  .pt_co_each {
    margin: 13px;
    padding: 13px;
    border: 1px dotted darkgreen;
  }
  .pt_co_link {
    text-align: right;
  }


  .pt_az { /* atoz */
    max-width: 1200px !important;
  }
  .pt_az h4, .pt_az li {
    font-size: 14px;
  }
  
  .pt_az a
    {
	color: #427088;
  }


  .pt_ba { /* banner */
    color: #fff;
    margin-bottom: 20px;
  }
  .under_filter_wrapper
   {
    border-bottom: solid 1px #ddd;
  }
  
  p.under_filter { float:left; font-size: 12px;color: #999;margin-left:0.9375rem;}
  h2.under_filter { float:left; font-size: 12px;color: #999;margin-left:0.9375rem; }
  h2.under_filter_2 { float:right; font-size: 12px;color: #999;margin-right:0.9375rem; }
  .pt_ba hr {
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
	display: none;
  }
  .pt_ba h2,.pt_ba h3 {
    white-space: nowrap;
    font-size: 12px;
    color: #999;
  }
  .pt_ba h2 {
    float: left;
    white-space: nowrap;
  }
  .pt_ba h3 {
    float: right;
    white-space: nowrap;
  }


  .pt_sr { /* searchresults */

  }
  .pt_sr_each {
    margin-top: 15px;
	margin-bottom: 15px;
  }
  .pt_sr_each_price {
    text-align:center;
    font-size: 12px;
    line-height:1.8em;
  }
  .pt_sr_image_container {
	line-height: 181px;
    text-align: center;
	border: solid 4px white;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	position: relative;
  }
  .pt_sr_image_container:hover {
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
  }
  .pt_sr_image_wrapper {
    overflow: hidden;
  }
  .pt_sr_image {
    border: 0;
	vertical-align: middle;
	margin-top: 55px;
    margin-bottom: 55px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
  }
  .pt_sr_image_container:hover .pt_sr_image{
    width: 130%;
	max-width: 130%;
	margin-left: -15%;
  }
  .pt_sr_image_div {
    position: absolute;
	top: 0;
	height: 100%;
  }
  .pt_sr_chars {
    position: absolute;
    bottom: -18px;
    background: #fff !important;
    padding: 5px;
    margin: 0;
    width: 100%;
    border: solid 2px #fff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	z-index: 90;
	color: #777;
  }
  .pt_sr_chars li {
    font-size: .8em;
	font-family: Verdana, Arial, sans-serif;
    text-align: left;
    float: left;
    width: 40%;
    list-style-type: none;
  }
  .pt_sr_chars li.wide {
    width: 60%;
  }
  .pt_sr_from {
    font-style: italic;
  }
  .pt_sr_price.old_price {
    text-decoration: line-through;
    color: #777;
    font-size: 1.3em;
    display: block;
    margin: 5px 0;
  }
  .pt_sr_price.current_price { 
    font-size: 2.0em;
    color: #de9723;
  }
  .pt_sr_price.economy {
    color: #fff;
	background: #de9723;
    margin: -20px -15px 0 0;
    font-size: 1.5em;
    height: 55px;
    width: 55px;
    line-height: 49px;
    border: solid 2px #fff;
    border-radius: 100px;
	float: right;
	position: relative;
  }
 /* .pt_sr_each:nth-child(4n+1) .pt_sr_price.economy {
    background: #ffc600;
  }
  .pt_sr_each:nth-child(4n+2) .pt_sr_price.economy {
    background: #ffa500;
  }
  .pt_sr_each:nth-child(4n+3) .pt_sr_price.economy {
    background: #ff7e00;
  }
  .pt_sr_each:nth-child(4n+4) .pt_sr_price.economy {
    background: #ff5a00;
  }
*/
  .pt_sr_each_price .button {
    text-transform: uppercase;
  }
  .pt_sr_each_price .button:hover {
    color: #fff;
  }
  .pt_sr h4 {
	font-size: 13px;
    height: 46px;
    position: relative;
    padding: 2px;
	margin-left: -31px;
	border: solid 2px #fff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-family: Verdana, Arial, sans-serif;
  }
  .pt_sr h4 a {
	color: #fff;
	font-family: Verdana, Arial, sans-serif;
  }
  .pt_sr h4 img {
    vertical-align: baseline;
  }
  .pt_sr p {
    font-size: 13px;

    text-align: justify;
  }


  .top-area
    {
	max-width: 1200px !important;
	margin: 0 auto;
  }
  
  .pt_sf { /* searchfilters */
    margin: 15px 0 5px;
  }
  
   .sf-fixed {
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    z-index: 9999999999;
   }
   
   .sf-fixed  .search-filters{
    background: #fff;
    position: relative;
    max-width: 1200px;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    padding: 11px 0 0;
	margin: 0 auto;
	height: 113px;
   }
   
   .under_filter_wrapper, .tops
      {
	  max-width: 1200px !important;
	  margin: 0 auto;
   }
  
  .search_form {
    color: #fff;
    padding-top: 20px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	z-index: 999;
  }
  .search_form_inner {
    margin: 0 auto;
	float: right;
  }
  .search_form_inner form {
    margin: 0;
  }
  .pt_sf label {
    font-size: 12px;
    font-weight: bold;
  }
  .pt_sf_price {

  }
  .pt_sf_submit {
    top: -0.1rem;
  }
  .pt_sf_small {

  }


  .pt_p { /* product */

  }
  .pt_p h1 {
    font-size: 18px;
  }
  .pt_p p {
    text-align: justify;
    font-size: 15px;
  }
  .pt_p_vouchercode {
    font-weight: bold;
  }


  .pt_pr { /* prices */

  }
  .pt_pr table {
    width: 100%;
  }
  .pt_pr table th {
    text-align: center;
  }
  .pt_pr_mlogo {
    text-align: center;
  }
  .pt_pr_mtext {
    text-align: center;
  }
  .pt_pr_price {
    font-weight: bold;
    text-align: center;
  }
  .pt_pr_vouchercode {
    font-weight: bold;
    text-align: center;
  }
  .pt_pr_visit {
    text-align: center;
  }
  .pt_pr_visit a {
    margin: 0;
  }


  .pt_ra { /* ratings */

  }
  .pt_ra blockquote {
    text-align: justify;
    font-size: 15px;
  }
  .pt_ra textarea {
    height: 100px;
  }
  .pt_ra select {
    color: #AC7910;
  }
  .pt_ra_submit {
    top: -0.1rem;
  }


  .pt_rp { /* related */

  }
  .pt_rp h2 {
    border-top: 1px solid #ccc;
    padding-top: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #999;
  }
  
  .main-wrapper-contact { /* contact page */
    max-width: 640px;
	margin: 0 auto 50px;
  }
  
  .contact-form { 
    padding: 80px 0;
  }
  
  .contact-form .columns {
    padding: 0;
  }
  
  .contact-form h3 {
    color: #686868;
	border-bottom: solid 1px #999;
	margin-bottom: 20px;
  }
  
  .contact-form textarea {
    height: 120px;
  }
  
  .contact-form .form-submit {
    width: 100%;
  }

 /***** Custom styles *****/

.row
{
max-width: 100%;
} 

a,
a:hover, 
a:focus
{
color: #FFA500;
}

h1, h2, h3, h4, h5, h6
{
font-family: droidsans, Arial, sans-serif;
}

button, .button
{
font-family: Verdana, Arial, sans-serif;
font-weight: bold;
}

.top-bar-section ul li>a
{
font-family: Verdana, Arial, sans-serif;
}

ul.pagination li.current a
{
background: #656565;
}

ul.pagination li.current a:hover, 
ul.pagination li.current a:focus,
button, 
.button,
button:hover,
.button:hover,
button:focus,
.button:focus
{
background: #427088;
}

button.secondary, .button.secondary
{
background: #b9b9b9;
color: #fff;
}

button.tiny, .button.tiny
{
font-size: .9rem;
}

.top-bar,
.pt_ba
{
max-width: 1200px;
margin: 0 auto;
}

.top-bar,
.top-bar-wrapper,
.top-bar-section li:not(.has-form) a:not(.button)
{
background: #000;
}

.top-bar-section li:not(.has-form) a:not(.button):hover
{
background: #585858;
}

.top-bar-section ul li>a
{
font-size: 0.9rem;
}

.menu-toggler
{
display: none;
}

.footer-wrapper
{
//position: fixed;
bottom: 0;
display: block;
width: 100%;
background: rgba(0,0,0,.8);
border-top: solid 6px #222;
border-bottom: solid 6px #222;
z-index: 9999999;
}

.footer
{
color: #fff;
padding: 7px 0;
max-width: 1200px;
float: none;
position: relative;
margin: 0 auto;
}

.footer ul
{
list-style-type: none;
float: right;
margin: 0;
padding: 0;
}

.footer ul li
{
display: block;
float: left;
}

.footer ul li a
{
color: #fff;
padding: 0 15px;
border-left: solid 1px #fff;
}

.footer ul li:first-child a
{
border-left: none;
}

/*-- BRANDS --*/

.brands h4
{
background: #427088;
color: #fff;
text-align: center;
font-size: 20px;
padding: 5px 0;
font-family: Verdana, Arial, sans-serif;
}

.brands .atoz li 
{
border: solid 1px #999;
width: 28%;
margin: 10px 2.5%;
padding: 0;
clear: none;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}

.brands .atoz li:hover
{
box-shadow: 0 0 4px 0 #3BAFDA;
}

.brands .atoz li  a
{
display: block;
text-align: center;
position: relative;
height: 150px;
line-height: 150px;
color: #427088;
}

.brands .atoz li  a .item-logo
{
margin-bottom: 1em;
}

.brands .atoz li  a .no-image
{
display: inline-block;
width: 118px;
height: 61px;
position: relative;
top: 16px;
background-image: url('../images/no-logo.png');
}

.brands .atoz li  a .item-title
{
position: absolute;
bottom: 5px;
width: 100%;
left: 0;
display: block;
line-height: 1em;
}

.brands .atoz li  a .count
{
color: #000;
}

/* SEARCH UNDERFILTER */

span.top
{
  background: #427088;
  padding: 5px 0;
  margin-bottom: 10px;
  text-align: center;
}
span.top a {
  color: #fff;
}

.under_filter_wrapper 
{
color: #fff;
}

/* MENU */

.menu-wrapper
{
position: relative;
}

#main-marken a:hover
{
background: #427088 !important;
}

#main-marken ul a:hover
{
background: none !important;
}

#main-kategorien a:hover
{
background: #663 !important;
}

#main-kategorien ul a:hover
{
background: none !important;
}

#main-damen a:hover
{
background: #966 !important;
}

#main-herren a:hover
{
background: #996 !important;
}

#main-jungen a:hover
{
background: #CC6 !important;
}

#main-madchen a:hover
{
background: #C96 !important;
}

/* SUBMENU */

.submenu-brands {
width: 890px !important;
position: absolute;
top: 45px;
left: 20px !important;
z-index: 9999999;
background: #fff !important;
box-shadow: 0 0 2px 0 #000;
padding-bottom: 20px;
display: none;
}

.main-menu li:hover .submenu-brands
{
display: block;
}

.submenu-brands li {
float: left !important;
display: block;
width: 20%;
background: none !important;
}

.submenu-brands li a{
background: none !important;
color: #000 !important;
font-size: 12px !important;
position: relative;
display: block !important;
height: 100px;
text-align: center;
line-height: 150px !important;
}

.submenu-brands li a .brand-title{
line-height: 12px !important;
position: absolute !important;
bottom: 5px;
left: 0;
width: 100%;
}

.all-link
{
color: white;
margin-top: 30px;
display: inline-block;
height: 20px;
line-height: 20px !important;
width: 100%;
text-align: center;
}

span.product-count {
color: #427088 !important;
}

.submenu-categories
{
padding-top: 40px;
}

.submenu-categories li a
{
height: 65px;
line-height: 1.2em !important;
color: #427088 !important;
}

.submenu-categories .all-link
{
margin-top: 0;
}

.shop_title
{
line-height: 90px;
position: relative;
z-index: 99;
}

.shop_title .title {
  text-transform: capitalize;
  float: left;
  font-size: 19px;
  margin-right: 20px;
  font-family: Verdana, Arial, sans-serif;
  line-height: 2.2em;
}

.shop_title .image {
float: none;
display: block;
clear: right;
width: 263px;
text-align: center;
}

.shop_title .image img
{
padding: 15px;
}

.scroll-top
{
display: none;
background-color: rgba(0,0,0,.7);
background-image: url('../images/scroll-top.png');
background-repeat: no-repeat;
background-position: center center;
position: fixed;
bottom: 60px;
right: 0;
width: 40px;
height: 20px;
cursor: pointer;
z-index: 999999999;
}

/* HOME BRANDS & KATEGORIES */

.home-brands,
.home-categories
{
max-width: 1175px;
margin: 10px auto 20px;
border: solid 1px #aaa;
border-top: none;
background-color: #fff;
}

.home-brands h1,
.home-categories h1
{
font-size: 20px;
background: #427088;
margin-top: 0px;
padding: 7px 0;
border: solid 2px #fff;
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
text-align: center;
color: #fff;
font-family: Verdana, Arial, sans-serif;
}

.home-categories h1
{
margin-bottom: 20px;
}

.home-brands ul ,
.home-categories ul 
{
margin: 0;
padding: 0;
}

.home-brands ul li,
.home-categories ul li
{
list-style-type: none;
}

.home-brands ul li a
{
display: block !important;
height: 105px;
text-align: center;
line-height: 105px !important;
}

.home-brands .alle-marken,
.home-categories .alle-categories
{
font-size: 18px;
background: #888;
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
color: #fff;
display: inline-block;
width: 100%;
}

.home-categories li a {
height: 40px;
display: block;
font-size: 12px;
color: #427088 !important;
}

.home-categories .hidden-categories
{
display: none;
}

.alle-categories
{
margin-top: 0 !important;
}

.alle-categories-link
{
margin-bottom: 20px;
color: #427088 !important;
display: block;
padding-right: 20px;
float: right;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 640px)
{

.top.medium-2
{
width: 18%;
margin-left: 1%;
margin-right: 1%;
}

}

@media only screen and (max-width: 640px)
{

html { 
  background: url(bg.jpg) no-repeat right top fixed; 
}

.top-bar
{
overflow: visible;
}

.top-bar-section ul
{
background: none;
}

.menu-wrapper
{
display: none;
}

.main-menu li
{
border-top: solid 1px #555;
}

.menu-toggler
{
display: inline-block;
color: #fff;
position: absolute;
top: 0;
right: 4px;
padding: 0 10px;
font-size: 30px;
}

.main-menu li:hover .submenu-brands
{
display: none;
}

.search-filters-wrapper.sf-fixed .filters-logo
{
width: 100%;
}

.search-filters-wrapper.sf-fixed .price_range {
  width: 100%;
  margin-left: 0;
}

.pt_sf .small-12 {  
    width: 100%;
  }

.under_filter_wrapper span
{
margin-left: 15px;
margin-right: 15px;
float: none;
display: block;
width: auto;
}

.contact-form { 
    padding: 20px 0 0;
	margin: 0 auto;
	float: none;
}

.footer .copyright
{
text-align: center;
margin-bottom: 10px;
}

.footer ul
{
float: none;
margin: 0 auto;
width: 245px;
}

.scroll-top
{
bottom: 75px;
}

}

@media only screen and (min-width: 421px) and (max-width: 640px) {

.brands .atoz li
{
width: 45%;
}

}

@media only screen and (max-width: 420px) {

  .brands .atoz li
  {
  width: 80%;
  margin: 10px 10%;
  }

}


.top a {
    display: block;
}

h2.top_brands {
  font-size: 20px;
    padding: 0 15px;
}

.pt_sr_image_wrapper {
  height: 494px;
}


.zselect ul {
  max-height: 300px;
  overflow-y:auto;
  overflow-x:hidden;
  width: 300px !important;
  border-top: 1px solid #ccc;
}
.zselect li.filtered-out {
  display:none;
}

.multiselect.one_row, .multiselect.empty {
  display: none;
}



form[name=filters] button[type=submit] {
  display: none;
}
.search_form {
  margin-bottom: -25px;
}

.price_range_wrapper {
padding-right: 1.8rem;
padding-left: 0;
}

.price_range {
  border: 1px solid #cccccc;
  background-color: #fafafa;
  padding: 12px 20px;
  margin: 0 15px;
}

.search-filters-wrapper.sf-fixed .price_range_wrapper {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.search-filters-wrapper.sf-fixed .price_range {
  width: 75%;
  margin: 0 0 20px 2%;
  padding: 15px 20px;
}

.search-filters-wrapper.sf-fixed .filters-logo
{
display: block;
width: 23%;
}

.filters-logo
{
display: none;
}

.search-filters-wrapper.sf-fixed  .logo {
width: 100% !important;
float: left;
background-color: #000;
}

.price_range .price_display {
  display: inline-block;
  width: 80px;
  text-align: center;
}
.price_slider_wrapper {
   padding:0px 20px;
   width:calc(100% - 180px);
   display:inline-block;
}
.price_range .price_slider {
  margin: 40px;
}

input[name=minPrice], input[name=maxPrice] {
  display: inline-block;
  width: 80px;
}

.medium-8 .pt_ba.row
{
display: none;
}

/* Firefox filters margin fix */

.search-filters, x:-moz-any-link, x:default { 
position: relative;
top: -10px;
}

.sf-fixed .search-filters, x:-moz-any-link, x:default { 
top: 0;
}